

.simple-container {
    max-width: 640px;
    margin: 0 auto;
    padding-top: 0px;
    padding-bottom: 0px;
}

img {
    max-width: 100%;
    text-align: center;
}

/* Also keep in mind that the close button is by default black. */

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Zen Maru Gothic", sans-serif;
    font-weight: 640;
    line-height: 1;
    margin-top: 54px;
        text-align: left;
}

div {
    font-weight: 800;
    font-family: "Zen Maru Gothic", sans-serif;
    margin-bottom: 0px;
        text-align: center;
}



p {
    width: 640px;
    background-size: 604px 316px;
    font-size: 24px;
    font-family: "Zen Maru Gothic", sans-serif;
    line-height: normal;
    font-weight: normal;
    text-align: left;
    margin-left: -10px;

}

a {
        text-decoration: none;
            color: unset;
}

code {
    font-family: "Fira Code", monospace;
    font-size: .9em;
    font-weight: 900;
}

h1 {
    font-size: 96px;
    margin-top: 54px;
    margin-bottom: 86px;
    overflow: visible;
}

h2 {
    font-size: 64px;
}

h3 {
    font-size: 48px;
}

h4,h5,h6 {
    font-variant-caps: all-small-caps;
    background-color: black;
    color: white;
    font-size: 36;
padding: 4 100 16 100;
    font-weight: 600;
    /* border: 2px solid red; */
    border-radius: 8px;
}



nav, ol, ul {
    list-style: none;
}
ul {
    list-style-type: disc;
}

h1,
h2 {
    margin-top: 64px;
}

.alert,
.box,
.footnotes,
.note,
blockquote,
ol,
p,
pre,
ul {
  margin-bottom: 1.714rem;
}
ol,
ul {
  line-height: 1.5rem;
}
li {
    line-height: 1;
    font-family: 'Fira Code';
    margin-top: 16px;
    font-variant-ligatures: common-ligatures;
    margin: 16 32 0 0;
}
blockquote {
  padding-left: 1.158rem;
  border-style: solid;
  border-color: rgba(0, 0, 0, 0.15);
  border-width: 0 0 0 0.474rem;
  font-style: italic;
  font-family: 'Libre Baskerville';
}
sub,
sup {
  padding: 0 1px;
}
code,
kbd,
pre {
  color: #000;
  font-family: "Fira Code", Consolas, monospace;
  padding: 1em;
  overflow: scroll;
  border-radius: 0.8;
  font-weight: 500;
      font-variant-ligatures: common-ligatures;
}
code {
  font-size: 0.8em;
  padding: 0.2em 0.4em;
  margin: 0;
  background-color: #fff;
  padding: 5px 6px;
  border-radius: 0.3rem;
}
pre {
  font-size: 0.842rem;
  font-family: "Fira Code", monospace;
  background-color: #fff;
  color: #000;
  border-style: solid;
  border-width: thin;
  border-color: #f5f5f5;
  max-width: 620px;
  overflow: auto;
  line-height: 1rem;
  word-wrap: normal;
  box-shadow: 0px 16px 0px rgb(0 0 0 / 20%)
  padding: 1rem;
  font-variant-ligatures: common-ligatures;
}
pre > code {
  padding: 0;
  margin: 0;
  font-size: 100%;
  word-break: normal;
  white-space: pre;
  background: 0 0;
  border: 0;
}
kbd {
  background-color: #fff;
  padding: 5px 6px;
  border-radius: 6px;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.45);
  margin: 0 1px;
}
pre::before:hover {
  content: "⚪ ⚪ ⚪\a\a";
  white-space: pre;
}
pre::before {
  content: "🔴 🟡 🟢                 📂 ofou@MacbookAir          \a\a";
  white-space: pre;
  font-weight: 700;
}
.alert,
.box,
.note {
  padding: 22px;
}
.footnotes {
  font-size: 17px;
  line-height: 30px;
  padding-top: 22px;
  border-top: 1px dotted rgba(0, 0, 0, 0.15);
}
.footnotes p {
  margin-bottom: 22px;
}
.alert :last-child,
.box :last-child,
.footnotes :last-child,
.note :last-child,
blockquote.left p,
blockquote.right p,
ol ol,
ol ul,
ul ol,
ul ul {
  margin-bottom: 0;
}
hr {
  height: 1px;
  background-color: #d8d8d8;
  border: none;
  width: 100%;
  margin: 0;
}

simple-title div {
    overflow: visible;
}

