<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Omar Olivares Urrutia - Artificial Intelligence Engineer</title>
    <meta name="author" content="Omar Olivares Urrutia" />
    <meta name="description" content="I'm a Software Engineer with a strong background in Artificial Intelligence (AI) and Machine Learning (ML) who loves turning complex ideas into practical solutions. I've worked as an AI Engineer, Developer Relations Engineer, and freelance content creator, crafting engaging AI-focused content. I've helped build AI-powered products such as Kilo Code (an autonomous coding agent), Emergent Mind (a RAG system for CS research), and a range of scalable web applications for early-stage startups." />
    <meta name="keywords" content="Python, SQL, JavaScript, PyTorch, Hugging Face, Streamlit, Large Language Models, RAG, NLP, Agents, Machine Learning, MLX, Langchain, AWS, GCP, Azure, MongoDB, PostgreSQL, SQL, Docker, Git, CI/CD, Linux" />
    <link rel="canonical" href="https://olivares.cl" />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="https://olivares.cl" />
    <meta property="og:title" content="Omar Olivares Urrutia - Artificial Intelligence Engineer" />
    <meta property="og:description" content="I'm a Software Engineer with a strong background in Artificial Intelligence (AI) and Machine Learning (ML) who loves turning complex ideas into practical solutions. I've worked as an AI Engineer, Developer Relations Engineer, and freelance content creator, crafting engaging AI-focused content. I've helped build AI-powered products such as Kilo Code (an autonomous coding agent), Emergent Mind (a RAG system for CS research), and a range of scalable web applications for early-stage startups." />
    <meta property="og:image" content="https://pbs.twimg.com/profile_images/1917419648938577920/GkcGw0mb_400x400.jpg" />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@omarnomad" />
    <meta name="twitter:creator" content="@omarnomad" />
    <meta property="twitter:url" content="https://x.com/omarnomad" />
    <meta property="twitter:title" content="Omar Olivares Urrutia - Artificial Intelligence Engineer" />
    <meta property="twitter:description" content="I'm a Software Engineer with a strong background in Artificial Intelligence (AI) and Machine Learning (ML) who loves turning complex ideas into practical solutions. I've worked as an AI Engineer, Developer Relations Engineer, and freelance content creator, crafting engaging AI-focused content. I've helped build AI-powered products such as Kilo Code (an autonomous coding agent), Emergent Mind (a RAG system for CS research), and a range of scalable web applications for early-stage startups." />
    <meta property="twitter:image" content="https://pbs.twimg.com/profile_images/1917419648938577920/GkcGw0mb_400x400.jpg" />
    
    <link rel="stylesheet" href="/static/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap"
      rel="stylesheet"
    />
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=IBM+Plex+Serif:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
    $if(highlighting-css)$
    <style id="syntax-highlighting">
      /* pandoc syntax highlighting */
      $highlighting-css$
    </style>
    $endif$
    <script src="../static/script.js"></script>
    <!-- 100% privacy-first analytics -->
<script data-collect-dnt="true" async src="https://scripts.simpleanalyticscdn.com/latest.js"></script>
</script>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-6MR2H8YX5K"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-6MR2H8YX5K');
</script>
  </head>
  <body>
    <div class="terminal">
      <div class="menubar">
        <ul>
          <li><a href="/" data-nav="home">Home</a></li>
          <li><a href="/blog/" data-nav="blog">Blog</a></li>
          <li>
            <a href="/projects/" data-nav="projects">Projects</a>
          </li>
          <li>
            <a href="https://calendar.app.google/kcbfemxAYBoNPXbS8" data-nav="contact">Contact</a>
          </li>
        </ul>
      </div>
      <main>
        <div class="page-content">$body$</div>
      </main>
      <div class="statusbar">
        <div class="statusbar-left">F1 Help | F2 Save | F10 Exit</div>
        <div class="statusbar-right">Press Alt+F to access menu</div>
      </div>
    </div>
  </body>
</html>
